<!doctype html>
<html>

<head>  
  <title>Thời Tiết</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <style>
    body {
      background-image: url('https://wallpapercave.com/wp/wp2672819.jpg');

    }
    .facebook {
      background-color: #3b5998 !important;
      color: #fff !important;
    }
    .fa-facebook-f:before,
    .fa-facebook:before {
      content: "\f09a";
    }
    .card {
      margin-bottom: 100px;
      border-radius: 15px;
    }

    .btn {
      border-radius: 15px;
    }
    .fa .fa-google{
      padding: 10px;
    }
    .nav-wrapper{
      text-align: center;
    }
    .thoitiet:hover {
      color: red;
      margin: 5px;
    }
   
  </style>
</head>

<body>
 
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br><br><br><br><br><br><br><br>
      <div class="row center">
        <div class="col s6 offset-s3">
          <div class="card center">
            <div class="card-content">
              <span class="card-title" style="color:red" name="name"> Hello! <%= user.displayName %></span>
            </div>
            <div class="card-content">
              <span class="card-title" style="color:red"> <%= email.value %></span>
            </div>
            <div class="card-content">
              <img src="<%= photo.value %>" >
            </div>
            <div class="card-content">
              <span class="card-title" style="color:red"> ID: <%= user.id %></span>
            </div>  
          </div>
          <div class="center" >
            <form action="/xacnhan" method="POST">
                 <button type="submit" class="btn ">Xác nhận</button>
              </div>
           </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

